.breadcrumb-item + .breadcrumb-item::before{content: ">";}
.breadcrumb-item .bg-transparent{color: #000000;}
.text-muted{font-size: 15px;}
/* @keyframes tok{
	from{ani}
	to{}
}
.wec{} */
.col-10 .btn,
.small{font-size: 12px;}
.btn-outline-gray {
  color: #686868;
  background-color: transparent;
  background-image: none;
  border-color: #686868;
}
.btn-outline-gray:hover{
	border-color:#00AEEF;
	color: #00AEEF;
}
.btn-outline-gray:active{
	border-color:#0062A9;
	border: 2px;
}
.w-15{width: 15%;}
.detail_btn1,input.mr-1{width: 35px;height: 35px;border-color: #666;}
.detail_btn1,input.mr-1:focus{border:;}